In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import re
import string

In [2]:
df_fake = pd.read_csv('Fake.csv')
df_true = pd.read_csv('True.csv')

In [3]:
df_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
df_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
df_fake["class"]=0
df_true["class"]=1

In [6]:
df_fake.shape,df_true.shape

((23481, 5), (21417, 5))

In [7]:
df_fake_manual_testing = df_fake.tail(10)
for i in range(23480,23470,-1):
    df_fake.drop([i],axis=0,inplace=True)

df_true_manual_testing = df_true.tail(10)
for i in range(21416,21406,-1):
    df_true.drop([i],axis=0,inplace=True)

In [8]:
df_manual_testing = pd.concat([df_fake_manual_testing,df_true_manual_testing],axis=0)
df_manual_testing.to_csv("Manual testing.csv")

In [9]:
df_merge = pd.concat([df_fake,df_true],axis=0)
df_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [10]:
df_merge.tail(10)

,title,text,subject,date,class
21397,Germany's Schulz says he would demand U.S. wit...,BERLIN (Reuters) - The leader of Germany s Soc...,worldnews,"August 23, 2017",1
21398,Blunt instrument? What a list of banned articl...,SHANGHAI (Reuters) - An old review of an acade...,worldnews,"August 23, 2017",1
21399,Saudi police release teenager detained for dan...,DUBAI (Reuters) - A 14-year-old boy who was de...,worldnews,"August 22, 2017",1
21400,"The People's Princess, Britons work to keep me...",LONDON (Reuters) - Abdul Daoud spilt most of t...,worldnews,"August 23, 2017",1
21401,"Argentina labor unions protest job losses, Mac...",BUENOS AIRES (Reuters) - Argentina s main labo...,worldnews,"August 22, 2017",1
21402,Exclusive: Trump's Afghan decision may increas...,ON BOARD A U.S. MILITARY AIRCRAFT (Reuters) - ...,worldnews,"August 22, 2017",1
21403,U.S. puts more pressure on Pakistan to help wi...,WASHINGTON (Reuters) - The United States sugge...,worldnews,"August 21, 2017",1
21404,Exclusive: U.S. to withhold up to $290 million...,WASHINGTON (Reuters) - The United States has d...,worldnews,"August 22, 2017",1
21405,Trump talks tough on Pakistan's 'terrorist' ha...,ISLAMABAD (Reuters) - Outlining a new strategy...,worldnews,"August 22, 2017",1
21406,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1

In [11]:
df = df_merge.drop(columns=['title','subject','date'],axis=1)
df.head(10)

                                                text  class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0
5  The number of cases of cops brutalizing and ki...      0
6  Donald Trump spent a good portion of his day a...      0
7  In the wake of yet another court decision that...      0
8  Many people have raised the alarm regarding th...      0
9  Just when you might have thought we d get a br...      0

In [12]:
df= df.sample(frac=1)

In [13]:
df.head(10)

                                                    text  class
19326  BELFAST (Reuters) - The head of Northern Irela...      1
19713  MEXICO CITY (Reuters) - Panama has agreed to e...      1
16041  Former Speaker Newt Gingrich discusses the Rus...      0
2973   WASHINGTON (Reuters) - Leaders of the U.S. Sen...      1
5318   WASHINGTON (Reuters) - U.S. Secretary of State...      1
5918   As Elizabeth Warren amps up her attacks on the...      0
22796  One of the ancillary benefits of Donald Trump ...      0
2115   WASHINGTON (Reuters) - A decision from Preside...      1
5885   Pope Francis, while appearing at the United Na...      0
3037   WASHINGTON (Reuters) - Conservative activists ...      1

In [14]:
df.isnull().sum()

text     0
class    0
dtype: int64

In [15]:
def word_drop(text):
    text= text.lower()
    text= re.sub('\[.*?\]','',text)
    text= re.sub("\\W"," ",text)
    text= re.sub('https?://\$+|www\.\S+','',text)
    text= re.sub('<.*?>+','',text)
    text= re.sub('[%s]'% re.escape(string.punctuation),'',text)
    text= re.sub('\n','',text)
    text= re.sub('\w*\d\w*','',text)
    return text

In [16]:
df['text'] = df['text'].apply(word_drop)

In [17]:
df.head(10)

                                                    text  class
19326  belfast  reuters    the head of northern irela...      1
19713  mexico city  reuters    panama has agreed to e...      1
16041  former speaker newt gingrich discusses the rus...      0
2973   washington  reuters    leaders of the u s  sen...      1
5318   washington  reuters    u s  secretary of state...      1
5918   as elizabeth warren amps up her attacks on the...      0
22796  one of the ancillary benefits of donald trump ...      0
2115   washington  reuters    a decision from preside...      1
5885   pope francis  while appearing at the united na...      0
3037   washington  reuters    conservative activists ...      1

In [18]:
X= df['text']
y= df['class']

In [19]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)

In [20]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(33658,) (11220,) (33658,) (11220,)

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [22]:
vectorization = TfidfVectorizer()

In [23]:
xv_train = vectorization.fit_transform(X_train)
xv_test = vectorization.transform(X_test)

In [24]:
xv_train

<33658x95189 sparse matrix of type '<class 'numpy.float64'>'
	with 6898720 stored elements in Compressed Sparse Row format>

In [25]:
print(xv_train.shape,xv_test.shape)

(33658, 95189) (11220, 95189)

# Logistic Regression

In [26]:
from sklearn.linear_model import LogisticRegression

In [27]:
model_LR= LogisticRegression()

In [28]:
model_LR.fit(xv_train,y_train)

LogisticRegression()

In [29]:
model_LR.score(xv_test,y_test)

0.9868092691622103

In [30]:
pred_LR = model_LR.predict(xv_test)

In [31]:
print(classification_report(y_test,pred_LR))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5764
           1       0.98      0.99      0.99      5456

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

# Decision Tree Classification

In [32]:
from sklearn.tree import DecisionTreeClassifier

In [33]:
model_DTC= DecisionTreeClassifier()

In [34]:
model_DTC.fit(xv_train,y_train)

DecisionTreeClassifier()

In [35]:
model_DTC.score(xv_test,y_test)

0.9963458110516934

In [36]:
pred_DTC= model_DTC.predict(xv_test)

In [37]:
print(classification_report(y_test,pred_DTC))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5764
           1       1.00      1.00      1.00      5456

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

# Gradient Boosting Classifier

In [38]:
from sklearn.ensemble import GradientBoostingClassifier

In [39]:
model_GBR= GradientBoostingClassifier(random_state=0)

In [40]:
model_GBR.fit(xv_train,y_train)

GradientBoostingClassifier(random_state=0)

In [41]:
model_GBR.score(xv_test,y_test)

0.9958110516934047

In [42]:
pred_GBR = model_GBR.predict(xv_test)

In [43]:
print(classification_report(y_test,pred_GBR))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5764
           1       0.99      1.00      1.00      5456

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

# Random Forest Classifier

In [44]:
from sklearn.ensemble import RandomForestClassifier

In [45]:
model_RFC = RandomForestClassifier(random_state=0)

In [46]:
model_RFC.fit(xv_train,y_train)

RandomForestClassifier(random_state=0)

In [47]:
model_RFC.score(xv_test,y_test)

0.991711229946524

In [48]:
pred_RFC = model_RFC.predict(xv_test)

In [49]:
print(classification_report(y_test,pred_RFC))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5764
           1       0.99      0.99      0.99      5456

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

# Manual Testing

In [50]:
def output_labels(n):
    if n==0:
        return "Fake News!"
    elif n==1:
        return "Not a Fake News!"
    
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test['text'] = new_def_test['text'].apply(word_drop)
    new_x_test = new_def_test['text']
    new_xv_test = vectorization.transform(new_x_test)
    pred_LR = model_LR.predict(new_xv_test)
    pred_DTC = model_DTC.predict(new_xv_test)
    pred_GBR = model_GBR.predict(new_xv_test)
    pred_RFC = model_RFC.predict(new_xv_test)
    
    return print("\n\nLR Prediction: {} \nDT Predcition: {} \nGBR Prediction: {} \nRFC Prediction: {}".format(output_labels(pred_LR),
                                                                                                              output_labels(pred_DTC),
                                                                                                              output_labels(pred_GBR),
                                                                                                              output_labels(pred_RFC)))

In [52]:
news = str(input())
manual_testing(news)

MOSCOW (Reuters) - Vatican Secretary of State Cardinal Pietro Parolin said on Tuesday that there was  positive momentum  behind the idea of Pope Francis visiting Russia, but suggested there was more work to be done if it were to happen.  Parolin, speaking at a joint news conference in Moscow alongside Russian Foreign Minister Sergei Lavrov, did not give any date for such a possible visit. The Eastern and Western branches of Christianity split apart in 1054. The pope, leader of the world s 1.2 billion Catholics, is seeking to improve ties, and last year in Cuba held what was the first ever meeting between a Roman Catholic pope and a Russian Orthodox patriarch.  Parolin said he had also used his talks in the Russian capital to also raise certain difficulties faced by the Catholic Church in Russia. He said that Moscow and the Vatican disagreed about the plight of Christians in certain parts of the world. He did not elaborate. Parolin, who is due later on Tuesday to meet Patriarch Kirill, the head of the Russian Orthodox Church, said he also believed Russia could play an important role when it came to helping solve a crisis in Venezuela because of its close relations with Caracas.


LR Prediction: Not a Fake News!
DT Predcition: Not a Fake News!
GBR Prediction: Not a Fake News!
RFC Prediction: Not a Fake News!